:root {
  --icon-width: 30px;
}
.multimenu{
	position: fixed;
	z-index: 10;
	color: black;
	left: -webkit-calc(100% - var(--icon-width));
    left:    -moz-calc(100% - var(--icon-width));
    left:         calc(100% - var(--icon-width));
	width: 25%;
	top: 0;
	transition: ease-in 0.5s;
}
.multimenu:hover{
	left: 75%;
	transition: ease-out 0.5s;
}
.menubtn{
	vertical-align: top;
	display: inline-block;
	width: var(--icon-width);
}
.menubtn div{
	background-color: rgb(50, 50, 50);
	height: 50px;
	display: flex;
	align-items: center;
	transition: 0.5s;
}
.menubtn div img{
	width: var(--icon-width);
	image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
}
.menuslct{
	height: 100vh;
	width: -webkit-calc(100% - var(--icon-width));
	width:    -moz-calc(100% - var(--icon-width));
	width:         calc(100% - var(--icon-width));
	background-color: rgb(33, 33, 33);
	float: right;
}
.title{
	text-align: center;
	font-family: monospace;
	color: #fff;
	text-shadow: 2px 2px 0px #aaa;
	font-size: 24px;
}
#selected{
	height: 75px;
	background-color: rgb(59, 59, 59);
	border-bottom-left-radius: 15px;
}
.container{
	padding: 10px;
	color: #fff;
    font-family: monospace;
}
.worldsearch{
	text-align: center;
}
.worldsearch input{
	font-size: 14px;
}
.worldsearch img{
	height: 14px;
}
button, input{
	background-color: rgb(59, 59, 59);
	border-color: rgb(50, 50, 50);
	color: #fff;
}
hr{
	border-color: #000;
}
.overview{
	width: 100%;
}
#code{
	display: none;
}
.name{
	font-size: 18px;
}
.author{
	text-align: right;
}
.overviewItem{
	text-align: center;
    display:inline-block;
    margin: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 135px;
    height: 135px;
}
.overviewinnerItem{
	float: left;
	opacity: 0;
	width:100%;
	height: 100%;
	transition: 0.3s;
    display: inline-block;
}
.overviewinnerItem:hover{
	opacity: 1;
	background-color: rgba(34, 34, 34, 0.76);
	transition: 0.3s;
}
.notification .choiceBtn{
	background-color: rgb(121, 185, 3);
	border-color: rgb(100, 147, 15);
	border-radius: 4px;
	padding: 8px;
	margin-right: 12px;
	color: rgb(4, 4, 4);
	transition: 0.3s;
}
.notification .choiceBtn:hover{
	background-color: rgb(155, 226, 28);
	border-color: rgb(149, 222, 14);
	/*color: rgb(255, 255, 255);*/
	transition: 0.3s;
}
